<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" style="margin-top: -250px;">
      <h2 class="govuk-heading-l">Current iteration</h2>
      <p style=" ">
          The current iteration of the prototype is for Beta Sprint 6.
      </p>
      <h3 class="govuk-heading-m"> Changes </h3>
      <ul class="govuk-list gov-body-s" style=" ">
          <li>• improved filter and search layout </li>
          <li>• if no filters are selected, all results will appear - now 'show only' filters </li>
          <li>• filters combine with searches </li>
          <li>• easy to use different filters in conjuction </li>
          <li>• parent titles now listed in drop downs, up to 5 displayed then 'and others' </li></ul>

        <p> 'Show only' filters adapted from GOV.UK website search results filters.<br> <a href="https://www.gov.uk/search/all?keywords=permit&order=relevance">See here under 'Show more search options'</a>.

        <p> Additional information about this iteration is available on <a href="https://gallery.io/projects/MCHbtQVoQ2HCZdRWDK9j35E6"> gallery.io</a>.</p>

    </div>

</div>
