
{% extends "layout.html" %}

{% block pageTitle %}
  Portal Refresh
{% endblock %}

{% block header %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-full-width" style="border-bottom: 10px #033860 solid; background:#E6F4FF;">
  <div class="govuk-header__container govuk-width-container">
  <h1 class="govuk-!-font-size-48">Portal Refresh</h1>

  <p class="govuk-!-font-size-24">    Providing an intuitive, accessible interface, enabling users to complete their tasks first time </p>


</div>

  </div>
</div>

{% endblock %}


{% block content %}

<!----------   grid-row-full-width   --------->


    <div class="govuk-grid-column-two-thirds" style="margin-bottom: 0px;">
        <h2 class="govuk-heading-l">Overview</h2>
        <p style="">
            HM Land Registry Portal is part of our Business e-services. Property professionals can use the portal to apply to change the register, access information, apply for searches and reply to notifications.
        </p>

    <h3 class='govuk-heading-m'>'View my applications' </h3>
    <p>      One page combining the information of Application Enquiry, Services Requested and PDF Downloads. Private beta scheduled for Q4 2019. </p> <br>
    <h3 class='govuk-heading-m'> 'Light touch' refresh </h3>
    <p>      Improving accessibility by removing unnecessary images, background colours and increasing text size. Scheduled for Spring 2020. </p><br>
    <a class="govuk-!-font-size-19" style="font-weight: bold;" href="https://portal-prototype-beta.herokuapp.com/sessiononed"> View the current iteration </a>
    </div>

    <div class="govuk-grid-column-one-third" style="margin-bottom: 0px;">
    <h4 class="govuk-heading-m"> Design links </h4>
      <a href="#" class="govuk-!-font-size-19"> Gallery.io </a> <br>
      <a href="#" class="govuk-!-font-size-19"> Prototype (Heroku) </a><br>
      <a href="#" class="govuk-!-font-size-19"> Github </a>
    <br><br><br>
    <h4 class="govuk-heading-s"> Related links </h4>
    <a href="#" class="govuk-!-font-size-19"> User research (MS Teams) </a> <br>
    </div>



<!----------   grid-row-full-width   --------->


<!----------   grid-row-two-thirds   --------->
<div class="govuk-grid-column-full-width" style="margin-bottom: 200px;">
<div style="">


</div>
</div>


{% endblock %}
