
{% extends "layout.html" %}

{% block pageTitle %}
  Portal Refresh
{% endblock %}

{% block header %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-full-width" style="border-bottom: 10px #033860 solid; background:#E6F4FF;">
  <div class="govuk-header__container govuk-width-container">
  <h1 class="govuk-!-font-size-48">Portal Refresh</h1>

  <p class="govuk-!-font-size-24">    Providing an intuitive, accessible interface, enabling users to complete their tasks first time </p>


</div>

  </div>
</div>

{% endblock %}


{% block content %}

<!----------   grid-row-full-width   --------->


    <div class="govuk-grid-column-two-thirds" style="margin-bottom: 0px;">
        <h2 class="govuk-heading-l">Overview</h2>
        <p style="">
            HM Land Registry Portal is part of our Business e-services. Property professionals can use the portal to apply to change the register, access information, apply for searches and reply to notifications.
        </p>

    <h3 class='govuk-heading-m'>'View my applications' </h3>
    <p>      One page combining the information of Application Enquiry, Services Requested and PDF Downloads. Private beta scheduled for Q4 2019. </p> <br>
    <h3 class='govuk-heading-m'> 'Light touch' refresh </h3>
    <p>      Improving accessibility by removing unnecessary images, background colours and increasing text size. Scheduled for Spring 2020. </p><br>
    <a class="govuk-!-font-size-19" style="font-weight: bold;" href="https://portal-prototype-beta.herokuapp.com/sessiononed"> View the current iteration </a>
    </div>

    <div class="govuk-grid-column-one-third" style="margin-bottom: 0px;">
    <h4 class="govuk-heading-m"> Related links </h4>
      <a href="#" class="govuk-!-font-size-19"> Gallery.io </a> <br>
      <a href="#" class="govuk-!-font-size-19"> Prototype (Heroku) </a><br>
      <a href="#" class="govuk-!-font-size-19"> Github </a><br>
      <a href="https://teams.microsoft.com/l/channel/19%3a2e3962cb027b44979c6cea25dca7c473%40thread.skype/User%2520Research?groupId=56dc6afc-6b13-442d-a916-942543ce8eb9&tenantId=236309a8-284b-4e57-a7b3-fc767736f69d" class="govuk-!-font-size-19"> User research </a><p class="govuk-!-font-size-16"> (MS Teams)</p> <br>
    <h4 class="govuk-heading-m"> UCD Team </h4>
      <p class="govuk-!-font-size-19">
      <b> Senior designers </b>
      <br>
      James Thomas<br>
      Laura Clifford<br>
      <br>
      <b> Senior user researcher </b>
      <br>
      Matthew Clarke<br>
      <br>
      <b> User researchers </b><br>
      Stuart Gray <br>
      Andrew Harris <br>
      <br>
      <b> Interaction designer </b><br>
      Ros Boyes
      </p>

    </div>



<!----------   grid-row-full-width   --------->


<!----------   grid-row-two-thirds   --------->
<div class="govuk-grid-column-full-width" style="margin-bottom: 200px; margin-top: 100px;">
<div style="">


</div>
</div>


{% endblock %}
